.assign-dish-sec {
    background: linear-gradient(119.01deg, #9867DA -20.39%, #EE7464 40.65%);

    .right-sec {
        width: 69.1%;
        display: inline-block;
        vertical-align: top;
        margin: 28px 0px 0 25px;
        padding: 0;

        .youtube-sec-outer {
            margin: 22px 0px 0 0;
            background-color: #fff;
            min-height: 300px;
            border-radius: 0px 0px 6px 6px;
            width: 100%;
            padding: 8px 21px 0 19px;
        }
    }

    .sidebar {
        display: inline-block;
        background-color: #fff;
        border-radius: 40px 0px 0px 0px;
        padding: 26px 0 19px 20px;
        font-size: 11px;
        color: #414141;
        font-weight: 500;
        text-transform: capitalize;
        box-shadow: 2px 0px 7px rgb(0 0 0 / 8%);

        li.selected::after {
            content: "·";
            color: #AC6ABE;
            background: #F0F2FF;
            position: absolute;
            top: 10px;
            right: -14px;
            font-size: 98px;
            padding: 2px;
            /* border: 2px solid red; */
            border-radius: 50%;
            width: 29px;
            height: 29px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 2px 0px 7px rgb(0 0 0 / 8%);
        }



        ul {
            padding: 0;

            li {
                margin-bottom: 34px;
                font-size: 13px;
                text-align: center;
                list-style: none;
                position: relative;
                padding-right: 26px;

                p:nth-child(2) {
                    margin: 0 0 6px 0;
                    padding: 0;
                }

                p:last-child {
                    font-size: 12px;
                    color: #918d8d;
                    font-weight: 400;
                    margin: 0;
                    padding: 0;
                }

                img {
                    border-radius: 6px;
                    border: 6px solid #fff;
                    box-shadow: 0px 0px 4px rgb(177 199 206 / 85%);

                }
            }
        }
    }

    .border-card {
        background-color: #F0F2FF;
        padding: 0px 0px 180px;
        border-radius: 40px 40px 4px 0px;
    }

    .subcatheader {

        p {
            display: inline-block;
            padding: 0 20px;
        }

        .sec {
            display: inline-block;
            text-align: center;
            margin: 6px 19px 0 0;

            p {
                width: 100%;
                display: block;
                text-align: center;
                margin: 0;
                padding: 6px 0 0 0;
                text-transform: capitalize;
                font-size: 12px;
                font-weight: 500;
                color: #414141;
            }

            img {
                border-radius: 50%;
                box-shadow: 0px 0px 6px rgb(0 0 0 / 28%);
                border: 4px solid #fff;
                width: 55px;
                height: 54px;
            }
        }
    }
}