.address-map {
    background: linear-gradient(119.01deg, #9867DA -20.39%, #EE7464 40.65%);

    .border-card {
        height: 100%;
        width: 100%;
        background: #F0F2FF;
        border-radius: 40px 40px 4px 0px;
        overflow: hidden;
    }

    .address-details {
        background-color: #fff;
        padding: 10px 21px 25px;
        margin: 0px 0 0;
        box-shadow: 0px 0px 9px rgb(0 0 0 / 23%);
        border-radius: 0px 0px 6px 6px;
        position: fixed;
        bottom: 0;
        width: 100%;
    
        .address {
            display: flex;
            margin-bottom: 14px;
    
            .left {
                width: 50%;
                text-align: left;
    
                p {
                    margin: 0;
                    padding: 0;
                    font-size: 15px;
                    font-weight: 600;
                }
    
                p:first-child {
                    margin-bottom: 0px;
                    color: #414141;
                    font-size: 13px;
                    line-height: 8px;
    
                    span {
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 8px;
                    }
                }
    
                p:nth-child(2) {
                    opacity: 0.5;
                    padding-left: 20px;
                    font-size: 12px;
                }
            }
    
            .right {
                width: 50%;
                text-align: right;
                font-size: 12px;
                color: #ED7768;
                padding-top: 3px;
            }
        }
    }
    
    .btn {
        float: right;
        background-color: #ED7768;
    }    
}