.grocey-history {
    background: linear-gradient(119.01deg, #9867DA -20.39%, #EE7464 40.65%);
    position: relative;

    .border-card {
        background-color: #F0F2FF;
        padding: 20px 20px 270px;
        border-radius: 40px 40px 4px 0px;

        .inner {
            // background-color: white;

            .title {
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 9px;
                margin-top: 8px;
                border-bottom: 1px solid #ddd2d2;
                padding-bottom: 7px
            }

            .grocery-list {
                // background-color: #fff;
                border-radius: 10px;
                margin-bottom: 22px;

                img {
                    width: 33px;
                }

                p {
                    margin: 7px 0 0 0;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    font-weight: 500;

                    span {
                        font-size: 14px;
                        margin-right: 8px;
                        font-weight: 500;
                        color: #AD6ABE;
                        letter-spacing: 1px;
                    }
                }
            }

            .orderhistory-sec-top {
                display: flex;
                background-color: #fff;
                padding: 5px 17px 5px 10px;
                border-radius: 7px;
                box-shadow: 2px 6px rgb(0 0 0 / 5%);
                align-items: center;

                .left {
                    width: 62%;
                    text-align: left;

                    /* display: flex; */
                    p:nth-child(2) {
                        border: 1px solid #b5b0b0;
                        width: 78px;
                        margin: 7px 0 10px;
                        border-radius: 3px;
                        padding: 0;
                    }
                }

                .right {
                    text-align: right;
                    width: 37%;

                    p:nth-child(2) {
                        text-transform: uppercase;
                        color: #ED7768;
                        font-weight: 500;
                        font-size: 12px;
                    }

                    span {
                        text-transform: uppercase;
                        color: #ED7768;
                        font-weight: 500;
                        font-size: 12px;
                    }

                    span:nth-child(1) {
                        width: 100%;
                        display: inline-block;
                        text-align: revert;
                    }

                    span:nth-child(2) {
                        width: 100%;
                        display: inline-block;
                        color: #414141;
                        font-size: 11px;
                        font-weight: 400;
                        text-transform: capitalize;
                    }
                }
            }

            .ordrhistory-sec-btm {
                border-radius: 7px;
                color: #fff;
                margin: 0;
                background-color: #AC6ABE;
                padding: 8px 9px;
                text-align:center;
            }

            .ordrhistory-sec-mid {
                margin: 10px 0 9px;
                background-color: #fff;
                padding: 5px 9px;
                border-radius: 7px;
                border: 1px solid #efe5e5;
                

                .grocery {

                    // border: 1px solid #c7c3c3;
                    ul {
                        padding: 10px 0 0 0;
                        margin: 0;
                        list-style: none;

                        li {
                            padding: 0 0 0 0;
                            padding: 0;
    margin: 0 0 3px 0;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    width: 94%;
                        }
                    }
                }

                .billing-amount {
                    border-bottom: 0;
                    color: #ED7768;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    margin: 14px 0;
                    background-color: #fff;
                    border-radius: 3px;
                    font-weight: bold;
                    font-size: 13px;
                    padding: 1px 0 0px;
                    border: none;
                    border: 1px solid;
                    padding: 6px;
                    width: 30%;
                }
            }
        }
    }
}

p.list-items {
    border-bottom: 0;
    justify-content: space-between;
    color: #AD6ABE;
    letter-spacing: 1px;
    button {
        border: 0;
        padding: no;
        background-color: snow;
        width: auto;
    }
    span:nth-child(2){
        img{
            width: auto !important;
        }
    }
}