.login-home {
    // width: 100vw;
    // height: 100vh;
    // background: linear-gradient(122.48deg, #9867DA -20.53%, #EE7464 78.78%);
    // overflow: hidden;

    .input-ui p.MuiTypography-root.MuiTypography-body1.css-1pnmrwp-MuiTypography-root {
        font-size: 14px;
        color: #414141;
        font-weight: 500;
        border-right: 1px solid #949494;
        padding-right: 10px;
    }

    .upper-sec {
        padding: 30px 30px 68px 30px;
    background: linear-gradient(122.48deg, #9867DA -20.53%, #EE7464 78.78%);

        .title {
            font-size: 19px;
            font-weight: 600;
            color: #fff;

            span {
                font-weight: 400;
                margin-left: 5px;
            }
        }
    }

    .user-type-holder {
        margin: 17px 0px 20px;
        display: flex;
        // justify-content: space-between;
        justify-content: center;

        
        .user-type:nth-child(3){
            img{
                margin-left: 17px;
            }
        }

        .user-type {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30%;
            margin-right: 12px;

            &.selected {
                .type-card {
                    background: #FFFFFF;
                    // border: 3px solid rgba(255, 255, 255, 0.25);
                    // outline: 5px solid palevioletred;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    text-align: center;
                }
            }

            .type-card {
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                background: rgba(255, 255, 255, 0.2);
                width: 100%;
                background: #FFFFFF;
                border: 3px solid rgba(255, 255, 255, 0.25);
                border-radius: 50%;
                padding: 15px;
                text-align: center;

                img {
                    max-width: 100%;
                }
            }


            .user {
                margin-top: 10px;
                color: #fff;
                font-size: 14px;
                font-weight: 500;
            }
        }
    }

    .lower-sec {
        background: #fff;
        height: 100%;
        border-radius: 100%/100px 100px 0 0;
        width: 100%;
        box-sizing: border-box;
        margin-top: -46px;
        padding-top: 0;

        .data-holder {
            padding: 56px 38px;
    position: relative;

            .label-div {
                color: #414141;
                font-size: 15px;
                margin-bottom: 12px;
                font-weight: 600;
            }

            .mob-field {
                margin-left: unset;
                margin-right: unset;
                margin-bottom: unset;
                width: 100%;

                input {
                    padding: 0 0 0 6px;
                    height: 42px;
                }
            }

            .bottom-txt {
                margin-top: 10px;
                font-weight: 400;
                font-size: 13px;
                line-height: 12px;
                color: #414141;
                position: absolute;
                right: 30px;

                span {
                    color: #ED7768;
                    margin-left: 5px;
                    font-weight: 500;
                }
            }

            .otp-btn {
                background: #ED7768;
    position: fixed;
    bottom: 32px;
    right: 30px;
    width: 140px;
    /* height: 42px; */
    box-shadow: none;
    padding: 15px 0;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 8px;
            }
        }

    }

    .Mui-error {
        margin-left: unset;
    }
}
.coming-soon {
    color: #fff;
    font-weight: 600;
    margin-top: 5px;
    font-style: oblique;
    /* border: 2px solid #fff; */
    /* border-radius: 6px; */
    padding: 5px;
    font-size: 13px;
}
.login-home{
    height: 100vh;
}