@import './login-home.scss';

.login-home.signup{
    margin-bottom: 60px;
    .label-txt {
        color: #414141;
        font-weight: 600;
    }
    .btn-holder {
        margin-top: 60px;
        display: flex;
        justify-content: flex-end;

        button {
            background: #ED7768;
            border-radius: 6px;
            min-width: 114px;
            height: 42px;
            box-shadow: none;
        }
    }
    .reg-field {
        margin-bottom: 14px;
        opacity: 0.5;
        border: 0.5px solid #292929 !important;
        border-radius: 6px;
        outline: none;
        input {
            font-size: 13px;
            padding: 10px;
            box-sizing: border-box;
            height: 42px;
        }
    }
    .lower-sec{
        border-radius: 52px 52px 1px 1px;
        .data-holder {
            .label-div {
                font-weight: 600;
                font-size: 13px;
                line-height: 12px;
                color: #292929;
                opacity: 0.8;

                &::after {
                    content: '*';
                    color: #BD0E0E;
                }
            }
        }
    }
    .upper-sec {
        padding: 30px 30px 20px 30px;
    }
    .lower-sec .data-holder {
        padding: 26px 30px 0 30px;
        position: relative;
    }
    .field-holder {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        
        .reg-half-field {
            input{
                padding: 10px;
                box-sizing: border-box;
                height: 42px;
                font-size: 13px;
            }
            opacity: 0.5;
            border: 0.5px solid #292929;
            border-radius: 6px;
            outline: none;
        }
    }
}
p.signinpage {
    text-align: right;
    font-size: 13px;
    color: #414141;
    margin-top: 19px;
    a{
        color: #ED7768;
    font-weight: 500;
    font-size: 15px;
    margin-left: 2px;
    }
}
