.reg-field {
    margin-bottom: 14px !important;
}
.login-home.signup{
    .lower-sec{
        border-radius: 52px 52px 1px 1px;
    }
    .upper-sec {
        padding: 30px 30px 0 30px;
    }
    .lower-sec .data-holder {
        padding: 26px 30px 0 30px;
        position: relative;
    }
}
.reg-field {
    margin-bottom: 20px;
}
