.stock-refill {
    background-color: #F0F2FF;
    padding: 0 20px;
    height: 100vh;

    .rating-box {
        background: #fff;
    }

    .add-more {
        font-weight: 500;
        font-size: 11px;
        line-height: 12px;
        color: #ED7768;
    }
}