.stock-refill {
    background: linear-gradient(119.01deg, #9867DA -20.39%, #EE7464 40.65%);
    // height: 100vh;
    
    .border-card {
        background-color: #F0F2FF;
        padding: 20px 20px 270px;
        border-radius: 40px 40px 4px 0px;

        .btn-holder {
            margin-top: 13px;
            display: flex;
            justify-content: flex-end;

            .enable-btn {
                background: #ED7768;
                text-transform: uppercase;
            }
        }

    }

    .rating-box {
        background: #fff;
    }

    .add-more {
        font-weight: 500;
        font-size: 11px;
        line-height: 12px;
        color: #ED7768;
    }

    .billing-holder {
        padding: 15px 15px 20px;
        background: #fff;
        opacity: 0.9;
        border-radius: 6px;

        .heading {
            font-weight: 600;
            font-size: 14px;
            line-height: 12px;
            color: #414141;
        }

        .holder {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            color: #414141;
            margin-top: 20px;

            .title {
                font-weight: 400;
                font-size: 12px;
                line-height: 12px;
                width: 50%;
                text-align: start;
                margin-bottom: 15px;

                &.heading {
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 12px;
                    margin-top: 15px;
                    margin-bottom: unset;
                }
            }
            .value {
                width: 50%;
                font-weight: 600;
                font-size: 13px;
                line-height: 12px;
                text-align: right;
                text-align: end;

                &.total {
                    margin-top: 15px;
                    margin-bottom: unset;
                }

                
                span {
                    margin-right: 3px;
                    opacity: 0.5;
                    line-height: 11px;
                    font-size: 14px;
                }
                &.discount {
                    color: #178636;
                }
            }
        }
    }
}
