.assigned-dish-sec-outer {
    h1 {
        font-size: 14px;
    font-weight: 600;
    margin: 20px 0 10px;
    }
    .assigned-dish-inner {
        background-color: #fff;
        padding: 11px 20px 8px 13px;
    }
}
