.empty-art {
    background-color: #fff;
    text-align: center;
    padding: 44px 30px 74px 30px;
    margin-bottom: 32px;
    img {
        min-width: 46px;
        background-color: #ED7768;
        border-radius: 50%;
        padding: 20px;
    }

    button.emptycart-btn {
        margin: 0 auto;
        background-color: #ED7768;
        height: 42px;
        letter-spacing: 0;
        border-radius: 0;
        width: 156px;
        font-size: 14px;
        font-weight: 400;
        border-radius: 4px;
    }

    p:nth-child(2) {
        font-size: 19px;
        color: #2F2726;
        font-weight: 500;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    p:nth-child(1) {
        padding: 0px 0 27px;
        margin: 10px 0 9px;
    }
}

.checkout-pro {
    padding: 20px 0;

    span:first-child {
        width: 50%;
        text-align: left;
        float: left;
        font-size: 14px;
        font-weight: 600;
    }

    span:nth-child(2) {
        width: 50%;
        float: right;
        text-align: right;
        font-size: 11px;
        font-weight: 600;
        color: #ED7464;
        letter-spacing: 1px;
    }

    .pro-list {
        width: 100%;
        padding: 20px 1px 21px 1px;
        margin: 39px 0 0;

        .slick-slider.slick-initialized {
            background-color: transparent;
        }

        .pro-grid {
            margin-right: 34px;

            .pro-details {
                padding: 17px 0 20px;
                color: #414141;
                font-weight: 500;
                font-size: 14px;

                .min-qty {
                    margin: 6px 0;
                    font-weight: 300;
                    font-size: 11px;
                }

                .price span {
                    width: auto !important;
                    float: left;
                    padding-right: 4px;
                    color: #414141;
                }
            }
        }
    }

    .pro-image {
        border: 1px solid #D3D3D3;
    width: 79px;
    height: 79px;
    background-color: #fff;
    text-align: center;
    position: relative;
    padding: 3px;

        .add-prudct {
            background-color: #fff;
            border-radius: 4px;
            position: absolute;
            box-shadow: 0px 0px 4px rgb(177 199 206 / 80%);
            width: 28px;
            height: 28px;
            right: 0;
            text-align: center;
            color: #ED7768;
            font-size: 21px;
            font-weight: 600;
            z-index: 11111111111111111111111111111111;
            bottom: -10px;
            right: -15px;
        }

        img {
            // top: 0;
            // transform: translateY(50%);
            // position: absolute;
            // bottom: 0;
            // left: 0;
            // right: 0;
            // margin: 0 auto;
            height: 100%;
        }
    }

}