.header-ui {
    .fake-div {
        height: 56px;
        width: 100%;
    }
    
    .header-ui {
        background: #E3655B !important;
    }
    
    .heading {
        font-size: 1rem;
        font-weight: 500;
    }
}

.footer-ui {
    .Mui-selected {
        color : #E3655B;

    }
}