.header-ui {
    padding: 11px 11px 0px 0;
    display: flex;
    .fake-div {
        height: 56px;
        width: 100%;
    }
    .header-ui {
        background:linear-gradient(119.01deg, #9867DA -20.39%, #EE7464 80.65%);
        width: calc(100% - 27px );
        left: 0;
        box-shadow: none;
    }
    
    .header-buttom {
        padding: 0 44px;
        .left-sec {
            font-size: 10px;
            p {
                font-size: 17px;
                padding: 0 0 0px 0;
                margin: 0;
            }
            h1 {
                padding: 7px 0 10px;
                margin: 0;
                font-size: 15px;
                font-weight: 500;
            }
        }
    }
    
    .heading {
        font-size: 1rem;
        font-weight: 500;
    }
}

.footer-ui {
    .Mui-selected {
        color : #E3655B;

    }
}

.homemenu {
    margin: -7px 7px 20px -4px !important;
}

.grocey-sec {
    font-size: 10px;
}
.homepage-sec{
    margin-top: 25%;
    background-color: #F0F2FF;
}
.home-page.container {
    padding-top: 11px;
}