.holder-div {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader1{
	border-radius: 50%;
	// border-top: 20px solid dodgerblue;
	// border-left: 20px solid transparent;
	// border-right: 20px solid transparent;
	// border-bottom: 20px solid dodgerblue;
	animation-name: rotatepos;
	animation-duration: 2s;
	animation-iteration-count: infinite;
    height: 150px;
    width: 150px;
}
.inside1{
	display: flex;
	place-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	// border-left: 20px solid dodgerblue;
	// border-top: 20px solid transparent;
	// border-bottom: 20px solid transparent;
	// border-right: 20px solid dodgerblue;
	animation-name: buruh;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.inside1 span{
	// animation-name: rotatepos;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	font-family: monospace;
	// color: dodgerblue;
}
// @keyframes rotatepos{
// 	0%{}
// 	50%{transform: rotate(360deg)}
// }
// @keyframes buruh{
// 	0%{}
// 	50%{transform: rotate(-720deg);}
// }
// @keyframes stuff2{
// 	0%{}
// 	50%{transform: rotate(720deg);}
// }