.meal-plan-outer {
    background-color: #F0F2FF;
    padding-bottom: 83px;
    .css-heg063-MuiTabs-flexContainer {
        display: flex;
        justify-content: center;
        align-items: center;
       
    }

    .border-card {
        background-color: #F0F2FF;
        padding: 18px 15px 1px 15px;
        border-radius: 40px 40px 4px 0px;
    }

    .collapse-switch {
          .switch-label-holder {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #292929;
            font-size: 14px;
            line-height: 12px;
            height: 63px;
        }

        .status-switch {
            display: flex;
            align-items: center;
            cursor: pointer;
            height: 12.5vw;
            max-height: 2.8125rem;
            padding-left: 0.9375rem;

            input {
                width: 0;
                height: 0;
                opacity: 0;
                display: none;
                margin: 0;
                padding: 0.375rem 0.625rem;
                font-size: .875rem;
                font-weight: 400;
                font-family: inherit;
                line-height: 1.572;
                color: #414e5a;
                background-color: transparent;
                border: 1px solid #EDEDED;
                background-clip: padding-box;
                border-radius: 0.25rem;
                -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
                transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            }

            .custom-switch-btn {
                font-size: 0.75rem;
                color: #7A8994;
                position: relative;
                margin: 0 10px 0 0;
                cursor: pointer;
                display: flex;
                align-items: center;
                border-radius: 0.625rem;
                // background: #cfcfcf;
              
                width: 2.81rem;
                height: 1.13rem;
                flex: 0 0 2.81rem;
                border: 1px solid #ededed;

                &::before {
                    content: "veg";
                    // color: #7D7D7D;
                    color: #000;
                    position: absolute;
                    font-weight: 700;
                    font-size: 13px;
                    left: -70%;
                    z-index: 1;
                    line-height: .5rem;
                }

                &::after {
                content: "";
                display: block;
                width: 100%;
                height: 3px;
                transition: opacity 0.2s ease-out 0.1s, transform 0.3s ease-out 0.1s;
                z-index: 0;
                transform: scale(1);
                background-color: #000;
                }
            }

            .switch-button {
                left: 0px;
                position: absolute;
                transition: 0.3s;
                z-index: 1;
                width: 17px;
                background-color: #000;
                box-shadow: 0 0 3px 0 rgb(51 51 51 / 30%);
                height: 15px;
            }

            &.on {
                .custom-switch-btn {
                    background: transparent;

                    &::before {
                        content: "NonVeg";
                        left: 114%;
                        color: #000;
                        z-index: 2;
                    }
                }

                .switch-button {
                    left: 1.79rem;
                    background-color: #000;
                    box-shadow: 0 0 3px 0 rgb(0 0 0 / 30%);
                }
            }
        }
    }


}

.foodtimecat li a img {
    max-width: 100%;
}

.foodtimecat ul li {
    list-style: none;
    text-align: center;
    width: 25%;
    display: inline-block;
    vertical-align: top;
    margin-right: 13px;
}

.foodtimecat ul {
    margin: 0;
    padding: 0;
}

.header-recipe img {
    width: 100%;
}

.header-recipe {
    position: relative;

    .recipe-ttile {
        position: absolute;
        bottom: -34px;
        background-color: white;
        padding: 14px 14px;
        border-radius: 12px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 91%;
        text-align: left;
    }

    h1 {
        font-size: 19px;
        margin: 0;
        padding: 0;
    }

    p {
        margin: 0;
        padding: 0;
    }

    ul {
        padding: 0;
        margin: 0;

        li {
            list-style: none;
            display: inline-block;
            padding: 0 10px;
        }
    }
}
.recipe-details {
    margin-top: 55px;
}
.rcipe-bottom {
    margin-top: 59px;
    .tabs {
        display: flex;
        background-color: none;
      }
    
      .tab {
        justify-content: center;
        align-items: center;
        width: 100%;
        /* background: #E3655B; */
        padding: 8px 0;
        border: none;
        font-size: 19px;
        color: #E3655B;
        font-weight: 500;
        background-color: transparent;
        padding: 20px 13px 10px;
        /* border: 1px solid #E3655B; */
        /* border-radius: 49px; */
        box-shadow: none;
        text-transform: capitalize;
      }
    
      .tab:not(:last-child) {
        border-right: none;
      }
    
      .tab.active {
        background: transparent;
    border-bottom: none;
    border-radius: no;
    color: yellow;
      }
    
      .panel {
        display: none;
        // background-color: #eaeaea;
        padding: 10px;
      }
    
      .panel.active {
        display: block;
      }
}
.none-veg-food ul {
    margin: 13px 0 6px 0;
    padding: 0;
}
.none-veg-food ul li {
    display: inline-block;
}
p.meal-head {
       position: absolute;
    color: #201e1e;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 3px;
    font-size: 12px;
    font-weight: 800;
    text-align: center;
    background-color: greenyellow;
    padding: 6px 0;
    font-style: oblique;
    font-family: cursive;
}

.meal-plan-outer{
    img{
        max-width: 100%;
    }
}
.top-banner {
    position: relative;
    text-align: center;
}
.foodtimecat button {
    font-size: 11px;
    opacity: 1;
    color: #000;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
    color: #E3655B !important;
}
.css-13xfq8m-MuiTabPanel-root {
    padding: 12px;
}
.foodtimecat p {
    font-size: 11px;
    margin: 0;
    padding: 4px 0 0 0;
    color: #686363;
    font-weight: 500;
    text-align: center;
}
.foodtimecat {
    text-align: center;
}
.css-13xfq8m-MuiTabPanel-root {
    padding: 15px;
}
.youtube-video-popup {
    text-align: center;
}
a.viewdetailbtn {
    color: #E3655B;
    /* text-decoration: none; */
    font-size: 17px;
    font-weight: bold;
    margin: 7px auto 0;
    display: inline-block;
}