.myPreferences-sec .slick-slider {
    background-color: transparent;
    padding: 10px 0 30px;
    /* border-radius: 5px; */
    margin: 14px 0 19px;
}
.title {
    color:  #414141;
    font-size: 15px;
    font-weight: 500;
}
.prefrencesec {
    border-top: 2px solid #E3655B;
    padding: 15px 20px 29px;
    display: flex;
    flex-direction: column;
    min-width: 34%;
    justify-content: space-between;
    margin-right: 5%;
    box-shadow: 0px 0px 7px rgb(146 175 184 / 80%);
    background-color: #fff;
    text-align: left;
    border-radius: 5px;
}
.myPreferences-sec {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    margin-top: 20px;
}
.prefrencesec h6 {
    font-size: 13px;
    padding: 0;
    margin: 0;
    width: 100%;
    display: inline-block;
}
.prefrencesec p {
    width: 91%;
    font-size: 14px;
    padding: 6px 0 0 0;
    margin: 0;
    word-break: break-word;
    min-height: 32px;
    color: #414141 !important;
}
button.preferences-btn {
    background-color: #E3655B;
    font-size: 13px;
    margin: 18px 0 0;
    /* width: 50% !important; */
    padding: 7px 25px;
    width: auto !important;
    min-width: auto !important;
    max-width: 95px;
}