
.tabs {
    display: flex;
    /* background-color: #fff !important; */
    border-radius: 14px;
    align-items: center;
    justify-content: space-between;
    padding: 22px 10px 12px 10px;
    width: 93%;
    margin: 0 auto
}

.service-bottom button.tab {
    width: 80px;
    height: 80px;
    font-size: 6px;
    padding: 6px;
    box-shadow: 0px 0px 9px 0px #b1c7ce;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 50%;
    color: #414141;
}

.head {
    margin-top: 0px;
    background: #F0F2FF;
}

.service-bottom em {
    font-style: normal;
    font-size: 13px;
    color: #414141;
    font-weight: 400;
}

.service-bottom button.tab.active {
    border: 2px solid #ED7768;
}

.panel {
    display: none;
    // background-color: #eaeaea;
    padding: 0;
}

.panel.active {
    display: block;
}

.service-bottom button.tab img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-bottom: 4px;
}

.panels {
    padding: 0 0 20px 0;
    background-color: #fff;
    border-radius: 55px;

    // box-shadow: 0px 0px 9px 0px #b1c7ce;
    .genlkQ,
    .eVhYPn,
    .jdHdKR,
    .hrBcsR,
    .bHYulS,
    .wQPlu {
        background-color: #ED7768;
    }

    .genlkQ:after,
    .eVhYPn:after,
    .jdHdKR:after,
    .bHYulS:after,
    .wQPlu:after,
    .kLfipA:after,
    .bDDkXZ:after {
        color: #ED7768;
        text-transform: capitalize;
        font-size: 12px;
    }

    .hmtWZX {
        background-color: #ED7768;
    }
}

.service-outer {
    margin-bottom: 68px;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}



.service-form {
    padding: 10px 0 0;
    width: 100%;
    margin: 0 auto 0;
}

.field-holder.serv-cat-tab .tabs button.tab {
    width: 31%;
    border-radius: 17px;
    box-shadow: none;
    height: auto;
    padding: 0px 15px;
    word-break: break-all;
    border: 1px solid #000;

    h1 {
        opacity: 1;
    }
}

.field-holder.serv-cat-tab .tabs button.tab.active {
    background-color: #AC6ABE;
    color: #fff;
    border: 1px solid #AC6ABE;
}

.field-holder.serv-cat-tab .tabs {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    padding: 0;

}

.field-holder lable {
    text-align: left;
    width: 100%;
}

.field-holder label {
    text-align: left;
    width: 100%;
    margin-bottom: 8px;
    display: inline-block;
    font-size: 14px;
    color: #414141;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    width: 100%;
    background-color: #fff;
    border-radius: 7px !important;
}

.service-form .collapse-switch {
    border-top: none;
    border-bottom: none;
}

.service-form .field-holder {
    margin: 0 0 21px 0;
}

.service-head-outer {
    .css-1aznpnh-MuiSlider-root {
        height: 2px;
    }

    .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
        padding: 9.5px 10px;
        border: 1px solid #b5afaf;
    }

    .css-1aznpnh-MuiSlider-root {
        color: #ED7768;
    }

    .css-14pt78w-MuiSlider-rail {
        opacity: 1;
    }

    .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
        padding: 9.5px 10px;
        border: 1px solid #b5afaf;
        border-radius: 7px !important;
    }

}

.field-holder.ser-checkbox ul {
    padding: 0;
    margin: 0;
}

.panels .ser-cat-btn {
    background-color: white;
    border: 1px solid #414141;
    color: #000;
    width: 29%;
    padding: 6px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 9px;
    text-transform: capitalize;
    box-shadow: none;
    border-radius: 17px;
}

.panels .css-sghohy-MuiButtonBase-root-MuiButton-root:hover {
    background-color: #ED7768;
    color: #fff;
    border: 1px solid #ED7768;
}

.services-buttom {
    background-color: #F0F2FF;
    padding-bottom: 116px;

    .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
        background-color: #fff;
    }

    .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
        width: 100%;
    }

    .css-1aznpnh-MuiSlider-root {
        padding: 4px 0;
        margin-bottom: 37px;
    }

    .css-1eoe787-MuiSlider-markLabel {
        top: 15px;
        color: #ED7768;
    }

    .css-yafthl-MuiSlider-markLabel {
        top: 16px;
        color: #ED7768;
    }

    .css-1v5z18m {
        width: 100%;
    }
}

.field-holder.sel-date label {
    margin: 0 0 5px 0;
}

.serv-cat-tab .panels p {
    margin: 0;
}

.serv-cat-tab .panels {
    margin: 18px 0 0;
}

.field-holder.ser-checkbox ul {
    padding: 0;
    margin: 0;

    li {
        display: inline-block;
    }
}

.sel-food-cat {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.step2-form {
    padding: 7px 0 28px;
    min-height: 500px;

    .collapse-switch {
        border-top: none;
        border-bottom: none;
    }
}

.cuisine-button {
    border-radius: 17px;
    border: 1px solid black;
    background-color: white;
    font-size: 6px;
    padding: 0px 13px;
    box-shadow: none;
    margin-right: 5px;
    margin-bottom: 5px;
}

.cuisine-button h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.service-bottom .ffUqYD {
    width: 81%;
    margin: 29px auto 0;
    padding: 52px 8px 0;
}

.service-bottom button.tab.active h1 {
    opacity: 1;
}

.veg-nonveg {
    font-size: 0.8em;
    background: white;
    padding: 10px
}

.veg-nonveg:hover {
    background: #AC6ABE;
    color: #fff;
}

.sel-food-cat button.cuisine-button {
    padding: 5px 14px;
    font-size: 10px;
    font-weight: 700;

    span {
        font-size: 12px;
    }
}

.field-holder.sel-cat-food-list {
    margin-top: 20px;
}

.tabs.cat_tab {
    button.tab {
        opacity: 0.7;
    }

    button.tab.active {
        opacity: 1;
    }

}

.sel-food-cat .active {
    background-color: #AC6ABE;
    color: #fff;
    border: 1px solid #AC6ABE;
}

.panels .panel .active-time {
    background-color: #ED7768;
    color: #fff;
    border: 1px solid #ED7768;
}
button.burner.active {
    background-color: #AC6ABE;
    color: #fff;
    border: 1px solid #AC6ABE;
    border: 1px solid black;
}
.rmsc.multi-select {
    margin-bottom: 23px;
}
