.address-details {
    // background-color: #fff;
    // padding: 10px 21px 25px;
    // margin: 0px 0 0;
    // box-shadow: 0px 0px 9px rgb(0 0 0 / 23%);
    // border-radius: 0px 0px 6px 6px;
    // position: fixed;
    // bottom: 46px;
    // width: 100%;
    background-color: #fff; 
    width: 100%;
  


        .left {
            width: 50%;
            text-align: left;

            p {
                margin: 0;
                padding: 0;
                font-size: 15px;
                font-weight: 600;
            }

            p:first-child {
                margin-bottom: 0px;
                color: #414141;
                font-size: 13px;
                line-height: 8px;

                span {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 8px;
                }
            }

            p:nth-child(2) {
                opacity: 0.5;
                padding-left: 20px;
                font-size: 12px;
            }
        }

        .right {
            width: 50%;
            text-align: right;
            font-size: 12px;
            color: #ED7768;
            padding-top: 3px;
        }


    .stockrefillebtn-label-holder {
        display: flex;

        .button-text {
            width: 55%;
            text-align: center;
            padding: 15px 10px 10px 10px;
            text-align: left;
            font-size: 14px;

            span {
                font-size: 12px;
                margin-left: 5px;
                color: #FDFEFF;
            }
        }

        .btn-holder {
            width: 50%;

            button {
                background-color: #7B438A;
                width: 100%;
                margin: 0;
                box-shadow: none;
                padding: 12px 10px 12px 10px;
                text-align: center;
                border-radius: 0 0 6px 6px;
            }
        }
    }
}
.buttum-button-sec {
    /* padding: 10px 21px 25px; */
    /* margin: 0px 0 0; */
    /* box-shadow: 0px 0px 9px rgb(0 0 0 / 23%); */
    border-radius: 0px 0px 6px 6px;
    position: fixed;
    bottom: 64px;
    width: 100%;
    /* padding: 40px 0 0; */
}
.address{
    background-color: #fff;
    /* padding: 10px 21px 25px; */
    padding: 2px 19px 0;
    box-shadow: 0px 0px 9px rgb(0 0 0 / 23%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.stockrefill-button-sec {
    background-color: #AC6ABE;
    padding: 0;
    color: #fff;
    border-radius: 1px 0px 10px 10px;
    margin: 0;
}
.address-details.owner-sec {
    background-color: transparent;
}
.stockrefill-btnsec-cook button {
    background-color: #ED7768;
    width: 100%;
    border-radius: 6px;
    margin-bottom: 0px;
}
.stockrefill-btnsec-cook {
    background-color: white;
    text-align: center;
}
.address-details.sec-inner {
    display: flex;
    padding: 20px 0 10px;
    /* margin-top: -51px; */
    align-items: center;
    justify-content: center;
}
.address{
    .left{
        width: 50%;
    text-align: left;
    p:first-child {
        font-weight: 500;
    }
    p:last-child{
        padding: 4px 0 12px 21px;
    margin: 0;
    }
    span{
        padding-right: 10px;
    }
    }
    .right{
        width: 50%;
        text-align: right;
    }
}
