.stockcat-sec-outer {
    margin: 0 0 23px 0;
    border-bottom: 1px solid #00000025;

    .tab-holder {
        display: flex;
        align-items: flex-end;

        .css-1aquho2-MuiTabs-indicator {
            height: 4px;
            border-radius: 5px;
            background: #E3655B;
        }

        .single-tab {
            padding: 0 0 10px;

            &.cart {
                padding: unset;
            }
        }
    }

    .cart-sec {
        background: #ED7768;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.07);
        border-radius: 4px;

        .circle {
            border: 4px solid #F0F2FF;
            border-radius: 50%;
            width: 54px;
            height: 54px;
            position: relative;
            top: -2px;

            p:nth-child(2) {
                margin-top: 23px;
                color: #fff;
                text-transform: capitalize;
                font-weight: 300;
                letter-spacing: 1px;
                font-size: 12px;
            }
        }
    }

    .stockcat-sec {
        border-radius: 50%;
        overflow: hidden;
        height: 70px;
        width: 70px;
        border: 4px solid #fff;

        img {
            width: 100%;
            height: 75px;
            transform: scale(1.25);
        }
    }

    h6 {
        margin: 5px 0 0;
        text-align: center;
        color: #414141;
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
        /* identical to box height */


        color: #414141;

        opacity: 0.9;
    }

}