div {
    box-sizing: border-box;
}
.stock-list {
    background: #fff;
    position: relative;
    padding: 20px 10px 1px;
    top: -15px;
    animation: slide-down 0.5s;
    
    .prod-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        width: 100%;

        .left-sec {
            display: inline-flex;
            align-items: flex-start;
            font-size: 12px;

            .name-price {
                height: 100%;
                position: relative;

                .min-qty {
                    position: absolute;
                    bottom: 0px;
                    font-size: 11px;
                    line-height: 12px;
                    color: #414141;
                    opacity: 0.6;
                }
            }

            .name {
                font-weight: 500;
                font-size: 12px;
                line-height: 12px;
                color: #414141;
                margin-bottom: 8px;
                margin-top: 5px;
            }

            .price-sec,.price {
                display: flex;
                align-items: center;
            }

            .ruppes {
                margin-right: 3px;
                opacity: 0.5;
                line-height: 11px;
                font-size: 14px;
            }
        }

        .right-sec {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .input-holder {
            display: inline-flex;
            align-items: center;

            .qty-btn {
                font-weight: 500;
                font-size: 24px;
                line-height: 12px;
                color: #414141;
                opacity: 0.6;
            }

            .mob-field {
                width: 45px;

                input {
                    padding: 5px;
                    text-align: center;
                }
            }
        }
    
        .prod-img {
            height: 68px;
            width: 68px;
            margin-right: 10px;
            opacity: 0.1;
            border: 1px solid #414141
        }
    }
}

@keyframes slide-down {
    from {max-height: 0; opacity: 0;}
    to {max-height: 50vh; opacity: 1;}
}
