.main-holder {
    margin: 15px 0 30px;

    .title-holder {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;
        align-items: center;

        .title {
            color: #3A423C;
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 0px;
        }

        .plan-title {
            cursor: pointer;
            color: #E3655B;
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
        }
    }

    .card-holder {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;

        .card {
            margin-right: 15px;
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &:last-child {
                margin-right: unset;
            }

            .assign-btn {
                background: #AC6ABE;
                margin-top: 10px;
                text-transform: uppercase;
            }
        }

        .img-holder {
            margin-bottom: 10px;
            box-shadow: 0px 0px 9px rgb(177 199 206 / 80%);
            border-radius: 7px;
            height: 22vw;
            display: grid;
            grid-template-rows: 48%;
            grid-template-columns: 50% 46%;
            padding: 4px 0px 0px 5px;
            position: relative;
        }

        .cat-holder {
            font-size: 12px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
            font-weight: 500;
            color: #414141;

            .edit-meal {
                opacity: 0.4;
            }
        }

        .dish {
            color: #54575B;
            font-size: 12px;
            text-overflow: ellipsis;
            font-weight: 400;
        }
    }
}

.img-holder img.dish-img {
    border-radius: 7px;
}

.edit-meal {
    position: absolute;
    right: 0;
    background-color: #fff;
    padding: 5px 6px 4px 7px;
    box-shadow: 0px 0px 4px rgb(177 199 206 / 80%);
    border-radius: 4px;
}