.vericode-field {
    margin-right: 6% !important;
    text-align: center;
}
.vericode-field input {
    text-align: center;
}
.label-div-right-text {
    text-align: right;
    padding-right: 38px;
    margin-top: 11px;
}