.comlete-address-btn-sec {
margin-bottom: 20px;
button {
    background-color: #fff;
    border: 1px solid #AC6ABE;
    border-radius: 6px;
    box-shadow: none;
    color: #AC6ABE;
    margin-right: 8px;
}
}