p.completeaddlable {
    color: #414141;
    font-size: 14px;
    font-weight: 400;
}
.comlete-address-btn-sec {
margin-bottom: 20px;
button {
    background-color: #fff;
    border: 1px solid #AC6ABE;
    border-radius: 6px;
    box-shadow: none;
    color: #AC6ABE;
    margin-right: 8px;
}
}
.nearlandmark {
    margin: 17px 0 0 !important;
    display: inline-block;
}
.popupsec {
    background-color: #fff;
    border-radius: 6px 6px 6px 6px;
    width: 90%;
    margin: 0 auto;
    padding: 13% 0px;
    text-align: center;
    top: 0;
    bottom: 0;
    margin: 26% auto 0;
    position: relative;
    img {
        width: 50%;
    }
     p:nth-child(1){
        font-size: 22px;
        font-weight: 500;
        margin: 0;
        padding: 0;
    }
}