.cook-feedback {
    display: flex;
    border: 1px solid #cdcaca;

    .craitng-left-sec {
        border-right: 1px solid #cdcaca;
        width: 50%;
        padding: 22px 15px 19px 15px;

        .rating-box {
            width: 100%;
            display: inline-block;
            border: none;
            color: #414141;
            font-size: 12px;
            margin-bottom: 15px;
            background-color: transparent;

            div {
                width: 100%;
                display: inline-block;
            }

            span.MuiRating-root.MuiRating-sizeMedium.custom-rating.css-iljtu2-MuiRating-root {
                width: 100%;
            }
        }
    }

    .cook-right-sec {
        padding:22px 20px 19px 24px;
        font-size: 12px;
        line-height: 18px;
        .cook-comments {
            font-weight: 600;
        }
    }
}